#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

[data-amplify-router]{
 
  border-color: #c44217 !important;

}

.amplify-tabs__item--active{
  color: #c44217 !important;
  border-color: #c44217 !important;
}

.amplify-tabs{
  background-color: rgb(255 247 237 / var(--tw-bg-opacity, 1)) !important
}

.amplify-tabs__list{
  background-color: rgb(255 247 237 / var(--tw-bg-opacity, 1)) !important
}

.amplify-tabs__panel{
  background-color: rgb(255 247 237 / var(--tw-bg-opacity, 1)) !important
}

.amplify-button--primary {
  
  background-color: #c44217 !important;
}

.amplify-button--small{
  color:#c44217 !important;
}

.amplify-button--link:hover {
border-color:#c44217 !important;
background-color:transparent
}

.amplify-tabs__item:hover{
  color: rgb(194 65 12 / var(--tw-bg-opacity, 1));
}

